@font-face {
  font-family: 'HelveticaLocal';
  src: url('./fonts/Helvetica.ttf') format('truetype');
}

body {
  font-family: 'HelveticaLocal', sans-serif !important;
background-color: #F8F9FA;
}
p{
  font-family: 'HelveticaLocal', sans-serif !important;
}